@import "compass/typography";

/**
 * $FONT-FACE
 */
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
@include establish-baseline($base-font-size);

/**
 * $BASE-TYPOGRAPHY
 */
body {
  font-family: $helveticaneue;
  color: $base-foreground-color;
}

/**
 * $LINKS
 */
a {
  /* link-colors($normal, $hover, $active, $visited, $focus) */
  @include link-colors($dark-blue, $mid-blue, $mid-blue, darken($dark-blue, 10%), $mid-blue);
  background: transparent none;
}

/**
 * $HEADINGS
 */
.site-name,
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  @include rhythm(0, 0, 0, 0.2);
  font-weight: 700;
  letter-spacing: -0.0189em;
}

.site-name,
h1, .alpha, body.front .node--teaser .node__title {
  @include font-size(28px);
}
h2, .beta {
  @include font-size(24px);
}
.node--content h2, .node h2, body.cke_editable h2 {
  padding-bottom: 0.25em;
  border-bottom: 2px solid $dark-grey;
}
h3, .gamma {
  @include font-size(20px);
}
h4, .delta {
  @include font-size(18px);
}
h5, .epsilon{
  @include font-size(16px);
}
h6, .zeta {
  @include font-size(16px);
}
.node--content h6 {
  color: $mid-grey;
}

h1.page-title {
  @include font-size(36px);
}

/**
 * $PARAGRAPHS
 */
p,
%p {
  margin: 0;
  @include rhythm(0, 0, 0, 1);
}
p + img {
  float: left;
  margin-right: $horz-spacing-unit;
}

/**
 * $QUOTES
 */
blockquote {
  @extend %p;
  @include rhythm(0, 1, 1, 1);
  padding: 0 1.5em;

  @include rhythm-borders(1px);
  @include apply-side-rhythm-border(left, 10px);
  font-style: italic;
  color: $dark-blue;

  p {
    margin: 0;
  }
}

q {
  font-style: italic;
}

/**
 * $MARKS
 */
mark,
.marker {
  padding: 0.1em 0.5em;

  background: $light-blue;

  color: #fff;
  @include font-size(12px);
  text-transform: capitalize;

  @include border-radius(10px);
}

code, pre, samp, var {
  font-family: $monospace;
}
pre.codeblock {
  background-color: tint($base-background-color, 20%);
  border: 1px solid $dark-grey;
  padding: 0.5em;
}
