
/**
 * Grid settings
 */


// Susy Variables

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 1em;

// Susy Media Layouts @see http://susy.oddbird.net/guides/reference/#ref-media-layouts
$tab: 44em 12; // At 44em use 12 columns.
$desk: 70em 16; // At 70em use 16 columns.

// Define Susy grid variables mobile first.
$grids: 4;
$grids: add-grid(12 at $tab);
$gutters: 1/3;
$total-columns: 4;
$column-width: 4em;
$gutter-width: $horz-spacing-unit;
$grid-padding: 5px;

$container-style: magic;
$container-width: 1200px;

/**
 * Colors
 */
$dark-blue  : #2E3B70;
$mid-blue   : #8C92AC;
$pale-blue  : #B8BED6;
$light-blue : $pale-blue;

$dark-orange: #7F6526;
$orange     : #FFB200;
$pale-orange: #FFC94C;

$green      : #519600;
$red        : #FF3500;
$yellow     : #FFE70D;

$light-grey : #D0D3D5;
$mid-grey   : darken(#A8A8A8, 10%);
$dark-grey  : darken(#929496, 20%);
$black      : darken($dark-grey, 50%);

$base-foreground-color: $black;
$base-background-color: #C2BFB8;

/**
 * Messaging and alert colors
 */
$notice-color: $green;
$warning-color: $orange;
$error-color: $red;




/**
 * Typography
 */
$pt-sans          : 'PT Sans', Helvetica, Arial, sans-serif;
$maven-pro        : 'Maven Pro', Helvetica, Arial, sans-serif;
$helveticaneue    : 'Helvetica Neue', HelveticaNeue, TeXGyreHeros, FreeSans, 'Nimbus Sans L', 'Liberation Sans', Arimo, Helvetica, Arial, sans-serif;
$monospace        : Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
$base-font-size   : 16px;
$base-line-height : 24px;
$relative-font-sizing : true;


/**
 * Legacy browser support (talking about you, IE).
 */
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: true;
$legacy-support-for-ie8: true;
$experimental-support-for-svg: true;
