// Import external libraries.
@import "compass";
@import "compass/support";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";
@import "content/**/*";

body {
  background-color: $base-background-color;
}

/* styling a ckeditor iframe: */

.cke_contents {
  border: 1px solid $mid-grey!important;
}
.cke_contents, .cke_wysiwyg_frame, .cke_wysiwyg_frame, body.cke_editable {
  background-color: tint($base-background-color, 20%)!important;
}


h1.page-title {
  border-bottom: 2px solid $mid-grey;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}
//@import "development";

h2.callout {
  a {
    @include hover-link
  }
  border: none;
  @include font-size(60px);
  line-height: normal;
  margin: 2em 0;
}
h3.callout {
  a {
    @include hover-link
  }
  border: none;
  @include font-size(48px);
  line-height: normal;
  margin: 2em 0;
}

h4.callout {
  a {
    @include hover-link
  }
  border: none;
  @include font-size(36px);
  line-height: normal;
  margin: 2em 0;
}

h1,h2,h3,h4,h5,h6 {
  a {
    @include hover-link
  }
}
