/**
 * Header region
 */

/* Hiding logintoboggan logged-in menu block for when the admin-menu is present as its redundant */
body.admin-menu .l-region--header .block--logintoboggan-logintoboggan-logged-in {
  display: none;
}

.l-header {
  position: relative;
}
.l-region--header {
  @include clearfix;
  position: absolute;
  right: 0;
}