/**
 * $SITE-BRANDING
 */
.l-branding {
  //background: transparent image-url('logos/reuben_avery_studio_logo_large.png') no-repeat -14px -15px;
  position: relative;

  padding: 0;
  margin: 5em 0;

  @include clearfix;

  .site-logo {
    display: block;
    float: left;
    img {
//      content: image-url('logos/logo_black_trans.svg');
//      width: 4.688em;
//      height: 4.688em;
    }
  }
  .site-name {
    display: block;
    @include font-size(44px);
    padding-left: 2.230em;
    padding-top: 0.854em;

    a {
      @include link-colors(#000, #000, #000, #000, #000);

      &, &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
  .site-slogan {
    padding-left: 4.09em;
  }
}
