/**
 * $PROGRESS
 */
.progress {
  .bar {
    background-color: $light-grey;
    border-color: $mid-grey;
    @include border-radius(0);
  }
  .filled {
    background: $mid-blue;
  }
}

.batch-progress {
  @include clearfix;
  margin: 3em 0;
}