@import "sassy-buttons";

select,
input,
textarea {
  &:focus {
    @include box-shadow(0 0 4px 1px rgba(lighten($orange, 15%), 0.3));
    outline: 1px solid $light-blue;
  }
  background-color: tint($base-background-color, 50%);
}

/**
 * $FORM-ITEM
 */
.form-item {
  label {
    margin-bottom: 0.4em;
  }
  .form-select,
  .form-text,
  .form-textarea {
    padding: 0.6em;
    border: 1px solid $dark-grey;
    vertical-align: middle;
  }
  .description {
    margin-top: 0.2em;
    font-style: italic;
  }
}

/**
 * Sexy, sassy buttons.
 */
input[type='submit'] {
  @include sassy-button("matte", 15px, font-size(18px), $mid-blue);
  min-width: 10em;
}
input[type='button'] {
  @include sassy-button("matte", 15px, font-size(18px), $light-grey);
  min-width: 10em;
}


.container-inline {
  .form-select,
  .form-text,
  .form-textarea {
    width: auto;
  }
}

.epiceditor-widget-wrapper {
  border: 1px solid #e5e5e5;
}

.wysiwyg-toggle-wrapper {
  margin: 1em 0;
  float: left;
}

.form-type-select {
  margin: 1em 0;
  float: right;
}

.form-wrapper {
  overflow: hidden;
}

.cke .cke_contents {
  padding: 0.5em;
}

.form-required {
  color: $error-color;
}