$pt-sans          : 'PT Sans', Helvetica, Arial, sans-serif;
$maven-pro        : 'Maven Pro', Helvetica, Arial, sans-serif;
$helveticaneue    : 'Helvetica Neue', HelveticaNeue, TeXGyreHeros, FreeSans, 'Nimbus Sans L', 'Liberation Sans', Arimo, Helvetica, Arial, sans-serif;
$base-font-size   : 14px;
$base-line-height : 20px;
