/**
 * $MESSAGES
 */
.messages {
  padding-left: 10px;
  margin-bottom: $vert-spacing-unit;
}

.messages--status {
  color: $notice-color;
  background: tint($notice-color, 50%);
  border-color: tint($notice-color, 20%);
}

.messages--warning {
  color: $warning-color;
  background: tint($warning-color, 50%);
  border-color: tint($warning-color, 20%);
}

.messages--error {
  color: $error-color;
  background: tint($error-color, 50%);
  border-color: tint($error-color, 20%);
}
