/**
 * $NODE
 */
.node--teaser {
  margin-bottom: $vert-spacing-unit;
  .node__submitted {
    display: none;
  }
  .node__title {
    a {
      @include hover_link();
      &:link, &:visited {
        color: $base-foreground-color;
      }
    }
  }
  .field--name-field-tags {
    float: right;
    .field__item {
      float: left;
    }
  }
}

.node__content {
  text-align: justify;
  text-overflow: ellipsis;
}

.node__links {
  margin-bottom: $vert-spacing-unit;

  .node-readmore a {
    background: transparent image-url('right-circular-xs.png') right 7px no-repeat;
    padding-right: 1.1em;
  }
}
