.node__submitted {
  @include clearfix;

  position: relative;

  padding: 0 $horz-spacing-unit $vert-spacing-unit 0;
  margin-bottom: $vert-spacing-unit;
  border-bottom: 1px solid $mid-grey;


  & > div {
    margin-left: 73px;
    @include font-size(12px);
    white-space: nowrap;
  }
  .user-picture {
    float: left;
    margin-right: $horz-spacing-unit;
    border: 1px solid $mid-grey;
    padding: 1px;
    margin-top: 5px;
    margin-left: 0;
  }
  .submitted {
  }
  .updated {
    font-style: italic;
  }
  .tags {
    * {
      display: inline;
      float: none;
      margin: 0;
      padding: 0;
    }
    .field {
      .field__items {
        .field__item {
          &:after {
            content: ', ';
          }
          &:last-child:after {
            content: '';
          }
        }
      }
    }
  }
}

